<div id="app">
  <v-app id="inspire">
    <nav-bar></nav-bar>
    <v-content>
      <v-card-title>Choose project:</v-card-title>
      <v-select
      @input="setSelected"
      :items="projects"
      style="margin: 20px;"
      outlined
      label="Project"
    ></v-select>
    <v-card v-if="currentProject" id="total1" class="totaltimes">
      <v-row no-gutters>
        <v-col v-for="(time, key) in projectData" :key="key">
          <h4>{{key}}</h4>
          {{time.hours}}h
          {{time.minutes}}min
        </v-col>
      </v-row>
    </v-card>
    <v-expansion-panels
        popout
        hover
        tile
        v-model="panel"
        style="margin-bottom: 20px;"
      >
        <v-expansion-panel
          v-for="(item,i) in weeks"
          :key="i"      
          multiple
        >
        <v-expansion-panel-header @click="ClickedWeek(item[0],item[1])">
              Week {{item[0]}} ({{item[1]}})
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-data-table
                :headers="headers"
                :sort-by="'user'"
                :items="ProjectDataWeek"
                :items-per-page="20"
                class="elevation-1"
                hide-default-footer
              />
            </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <v-card v-if="currentProject" id="total2" class="totaltimes">
        <v-card-title>
          Total hours spent on project per user: 
        </v-card-title>
        <v-data-table
          :headers="headers"
          :sort-by="'user'"
          :items="totalTimesUsers"
          :items-per-page="20"
          class="elevation-1"
          hide-default-footer
        />
      </v-card>
    </v-content>
    <v-footer
      color="#003180"
      app
    >
      <span class="white--text">&copy; Jimber 2020</span>
    </v-footer>
  </v-app>
</div>